.dark {
  --bg-color: rgb(18, 18, 18);
  --bg-color-primary: rgb(31, 31, 31);
  --bg-color-second: rgb(31, 31, 31);
  --primary-color: rgb(227, 227, 227);
  --primary-color-inverted: rgb(227, 227, 227);
  --secondary-color: rgb(156, 156, 156);
}
