.light {
  --bg-color: rgb(255, 255, 255);
  --bg-color-primary: rgb(166, 0, 166);
  --bg-color-second: rgb(255, 255, 255);
  --primary-color: rgb(20, 20, 20);
  --primary-color-inverted: rgb(255, 255, 255);
  --secondary-color: rgb(69, 69, 69);
}
